<div class="service" id='catalog'>
    <h1>Catalog</h1>

    <div class="catalog_description">
        <p> "Catalog" is an archive of all of your Discover Weekly playlists.
            <br> It automatically keeps updated in the background so you don't have to think about it.
        </p>

        <h3>Catalog will need a playlist to write into. You have two options:
        </h3>
    </div>

    <%- include('../../partials/selectOrCreatePlaylist') %>

</div>
