<div class="service" id='dug'>
    <h1> Dug</h1>

    <div class="service_description">
        <p> "Dug" is a way to quickly find a collection of all of your saved tracks.
            <br> It automatically keeps updated in the background so you don't have to think about it.
        </p>

        <h3>Dug will need a playlist to write into. You have two options:
        </h3>
    </div>

    <%- include('../../partials/selectOrCreatePlaylist') %>

</div>
