<form class="needs-validation mx-auto text-center col-lg-6 " id="selectOrCreatePlaylistForm" method="post"
    route='/services/<%=service.serviceRoute%>/enable'>
    <div class="container-md">

        <% if (service.selectPlaylist) { %>
            <%- include('selectOrCreatePlaylist') %>
                <% }%>
                    <% if (service.extraConfig) { %>
                        <%- include(service.extraConfigPath) %>
                            <% } %>
                                <div class="col">
                                    <button class="btn mt-4 btn-primary" type="submit">Submit</button>
                                </div>
    </div>
</form>