<div class="service  px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center col-md-6">
    <h1 class='display-4'>
        <%=service.name%>
    </h1>

    <div class="service_description text-left">
        <p class='lead'>
            <%=service.extendedDescription%>
        </p>
    </div>
</div>