<% if (!user) {%>
<h2>Welcome! Please log in.</h2>
<p><a href="/login">login</a></p>
<%} else{ %>
<h2>Hello, <%= user.display_name%>.</h2>

<h3> Your services: <%=user.services%> </h3>

<form action="/enable_dig">
    <button type="submit">Enable Dig</button>
</form>


<% } %>