<!DOCTYPE html>
<html>

<head>
	<title>Dig</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body>
	<% if (!user){ %>
	<p>
		<a href="/">Home</a> |
		<a href="/login">Log In</a>
	</p>
	<% }else{ %>
	<p>
		<a href="/">Home</a> |
		<a href="/account">Account</a> |
		<a href="/logout">Log Out</a>
	</p>
	<% } %>
	<%- body%>

</body>

</html>