<div class='row mb-3'>

    <div class="form-group col-md-6">
        <label for="daysToKeep">Dig will save tracks that have been saved in the last X days</label>
        <input name="daysToKeep" type='text' class="form-control" id="daysToKeep"
            placeholder="<%=dig? dig.daysToKeep:7%>" required>
    </div>
    <div class="form-group col-md-6">
        <label for="minSongs">Keep a minimum of X songs</label>
        <input name="minSongs" type="text" class="form-control" id="minSongs" placeholder="<%=dig? dig.minSongs:20%>"
            required>
    </div>
</div>
<div class="form-check mx-auto">
    <input name="albumSort" type="checkbox" class="form-check-input" id="albumSort">
    <label class="form-check-label" for="albumSort">Sort playlist by song albums (experimental)</label>
</div>