<div class="service" id='dig'>
    <h1> Dig</h1>

    <div class="service_description">
        <p> "Dig" takes the recently most saved tracks and making a small playlist of just those tracks
            <br> It automatically keeps updated in the background so you don't have to think about it.
        </p>

        <h3>Dig will need a playlist to write into. You have two options:
        </h3>



    </div>


    <%- include('../../partials/selectOrCreatePlaylist') %>


</div>

<script src="/public/javascripts/dig/enableDig.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/dig/enable.css">