<div class="service">
    <h1> Dig</h1>

    <div class="service_description">
        <p> "Dig" takes the recently most saved tracks and making a small playlist of just those tracks
            <br> It automatically keeps updated in the background so you don't have to think about it.
        </p>

        <h3>Dig will need a playlist to write into. You have two options:
        </h3>



    </div>

    <div class="row playlist_options">


        <div class="existing_playlist col-sm">
            <h3>Choose an exsisting playlist to become dig:</h3>

            <ul class="list-group existing_playlists">
                <% playlists.forEach(list => { %>
                <button class="list-group-item list-group-item-dark playlist_item py-1" value="<%=list.id%>">
                    <%=list.name%></button>
                <%});%>
            </ul>


            <button class="btn btn-primary" id="submit_dig" disabled>Submit</button>
        </div>
        <div class="create_new_playlist col-sm">
            <h3>Create new playlist:</h3>
            <input type="text" class="create_playlist" id="create_playlist_text" placeholder="dig"><br>
            <button class="btn btn-primary" id="create_playlist_submit" disabled>Create Playlist</button>



        </div>

    </div>

</div>

<script src="/public/javascripts/dig/enable_dig.js" type="text/javascript"></script>